div.taskform {
  min-height: 50vh;
  margin: 3vw;
  padding: 10px;
  background-color: rgb(70, 70, 70);
  border-radius: 2px;
  font-family: "Quicksand", sans-serif;
}
label {
  text-transform: uppercase;
  color: white;
}
label span {
  text-transform: lowercase;
  font-size: 12px;
}
#title,
#text,
#deadlineDate {
  display: block;
  margin: 10px 0;
  border-radius: 2px;
  font-family: "Quicksand", sans-serif;
  background-color: #ccc;
  color: rgb(43, 43, 43);
  outline: none;
}

#title:focus,
#text:focus,
#deadlineDate:focus {
  background-color: rgb(255, 226, 173);
  box-shadow: 0 0 15px gray;
}
#title {
  width: 100%;
  height: 6vh;
  padding: 0 5px;
  font-size: 20px;
  border-style: none;
}

#text {
  width: 100%;
  height: 12vh;
  padding: 5px;
  font-size: 20px;
  border-style: none;
}
#deadline {
  margin-right: 10px;
}
#deadlineDate {
  height: 4vh;
  padding: 5px;
  font-size: 15px;
  border-style: none;
}
div.taskform button {
  position: relative;
  display: block;
  margin: 10vh auto 20px;
  padding: 15px 20px;
  border-style: none;
  outline: none;
  border-radius: 2px;
  color: white;
  cursor: pointer;
  font-family: "Grandstander", cursive;
  font-size: 15px;
  text-transform: uppercase;
  overflow: hidden;
  transition: 0.2s;
}
div.taskform button.on {
  background-color: orange;
}
div.taskform button.off {
  background-color: #ccc;
}
div.taskform button.on::before {
  content: "";
  position: absolute;
  top: 0;
  left: -110%;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.7);
  transform: skew(20deg);
  z-index: 0;
  animation: effect 1.2s 1s 2 ease-in-out;
}
@keyframes effect {
  40% {
    left: 110%;
  }
  100% {
    left: 110%;
  }
}

p.taskmessage {
  position: absolute;
  bottom: -7vh;
  left: 25%;
  height: 7vh;
  width: 50%;
  text-transform: uppercase;
  text-align: center;
  line-height: 7vh;
  color: white;
  background-color: orange;
  animation: move 0.6s infinite both;
}
@keyframes move {
  25% {
    bottom: 0%;
  }
  75% {
    bottom: 0%;
  }
  100% {
    bottom: -7vh;
  }
}

@media (orientation: landscape) {
  div.taskform {
    margin: 20px 30vw;
    padding: 20px;
  }
  p.taskmessage {
    left: 30%;
    width: 40%;
  }
  div.taskform button.on:hover {
    background-color: rgb(255, 184, 52);
    box-shadow: 0 0 15px gray;
  }
}
