ul.navigation {
  display: flex;
  list-style-type: none;
  overflow: hidden;
  background-color: black;
  font-size: 20px;
}
ul.navigation li {
  flex-grow: 1;
}

ul.navigation li a {
  display: block;
  transform: skew(20deg);
  font-family: "Grandstander", cursive;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  line-height: 10vh;
  /* font-size: 15px; */
  color: rgba(255, 255, 255, 0.85);
  height: 100%;
  transition: letter-spacing 0.2s;
}

ul.navigation li:first-child a.active {
  box-shadow: -10px 0 0 10px orange;
}
ul.navigation li:last-child a.active {
  box-shadow: 10px 0 0 10px orange;
}
ul.navigation li a.active {
  letter-spacing: 2px;
  color: white;
  background-color: orange;
  /* border-bottom: 4px solid orange; */
}
@media (orientation: landscape) {
  ul.navigation li a {
    border-bottom: 3px solid black;
    font-size: 20px;
  }
  ul.navigation li a.active {
    border-bottom: 3px solid orange;
  }
  ul.navigation li a:hover {
    color: white;
    border-bottom: 3px solid orange;
  }
}
