ul.navigation {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #009f9b;
  height: 10vh;
  transition: 0.2s;
}

ul.navigation li a {
  display: block;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 13px;
  border: 2px solid rgba(255, 255, 255, 0.85);
  border-radius: 8px;
  color: rgba(255, 255, 255, 0.85);
  padding: 8px;
  transition: 0.2s;
}
ul.navigation li a.active {
  background-color: #00b9b3;
  color: white;
  border: 2px solid white;
}
@media (orientation: landscape) {
  ul.navigation {
    justify-content: center;
  }

  ul.navigation li a {
    margin-right: 30px;
    font-size: 20px;
    border-style: none;
    border-radius: 8px;
  }
  ul.navigation li a.active {
    background-color: #00b9b3;
    color: white;
    border-style: none;
  }
  ul.navigation li a:hover {
    color: white;
  }
}
