div.taskslist {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  padding: 3vw;
  font-family: "Quicksand", sans-serif;
}
div.taskslist div.task {
  margin-bottom: 3vw;
  padding: 10px;
  border-radius: 2px;
  color: white;
  background-color: rgb(70, 70, 70);
  transition: 0.3s;
}

div.task div.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
div.header div#title {
  flex-basis: 70%;
  margin: 0;
  padding: 5px;
  background-color: transparent;
  text-transform: uppercase;
  text-overflow: ellipsis;
  overflow: hidden;
  letter-spacing: 1px;
  font-size: 16px;
}
div.header div.btnpanel {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
div.btnpanel button,
div.btnpanel a {
  margin-left: 8px;
  font-size: 20px;
  border-radius: 50%;
  color: white;
  background-color: orange;
  cursor: pointer;
}
div.btnpanel button {
  border-style: none;
  padding: 10px 13px;
}
div.btnpanel a {
  display: block;
  padding: 9px 11px;
}
p {
  padding: 5px;
}
p.text {
  overflow: hidden;
  text-overflow: ellipsis;
}

@media (orientation: landscape) {
  div.taskslist {
    padding: 20px 10vw;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: space-around;
  }
  div.taskslist div.task {
    width: 45%;
  }
  div.taskslist div.task:hover {
    transform: scale(1.04);
    background-color: rgb(88, 88, 88);
  }
  .btnpanel button:hover,
  div.btnpanel a:hover {
    background-color: rgb(252, 194, 35);
  }
}
